@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


@layer utilities {
    /* Barra de rolagem */
    .scrollbar-custom::-webkit-scrollbar {
      width: 6px;
      height: 8px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
      background: #f1f1f1; /* cor do fundo da barra */
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
      background-color: #979795; /* cor do "botão" */
      border-radius: 9999px; /* bordas arredondadas */
      border: 2px solid #f1f1f1;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
      background-color: #7e762c; /* cor ao passar o mouse */
    }
  }




 :root[data-theme="light"]{
    --white: white;
    --text: #000;
    --card: #fff;
    --canva: #fff;
    --border-gray-600: #e3e3e0;
    --gray-100: #f3f3f3;
    --border-gray-200: #ececec;
    --nav-bg-hover: #273333;
    --nav-text-hover: #FDC029;
    --nav-text-gray-700: #374151;
    --fundo-site: #D1D5DB;
 }

 :root[data-theme="dark"]{
    --white: #0a1120;
    --card: #14203d;
    --canva: #14203d;
    --text: #fff;
    --border-gray-600: #7c7b7b;
    --gray-100: #1e293b;
    --border-gray-200: #505050;
    --nav-bg-hover: #ffffff;
    --nav-text-hover: #000000;
    --nav-text-gray-700: #dddddd;
    --fundo-site: #05080f;

}



.table-wrapper {
    --table-bg: var(--white);
    --table-th-bg: var(--gray-100);
    --table-text: var(--text);
    --table-border: var(--border-gray-200);
}

.table-wrapper table {
    background: var(--table-bg);
    color: var(--table-text);
}

.table-wrapper thead {
    background: var(--table-th-bg);
}

.table-wrapper th,
.table-wrapper td {
    border-color: var(--table-border) !important;
}


/* CARD BASEADO NO TEMA */
.theme-card {
    background: var(--card);
    border: 1px solid var(--border-gray-200);
    color: var(--text);
}

/* HEADER DO CARD */
.theme-card-header {
    border-bottom: 1px solid var(--border-gray-200);
    background: var(--white);
}

/* TÍTULOS */
.theme-title {
    color: var(--text);
}

.theme-subtitle {
    color: var(--nav-text-gray-700);
}

/* BODY CINZA (usado no fundo da tabela) */
.theme-body {
    background: var(--white);
}
